{% extends 'base.html' %}
<!-- ========================= details ========================= -->
{% block content %}
<div class="container ">
    <div class="row justify-content-center pt-150 pb-120">
        <div class="col-xxl-8 col-xl-9 col-lg-10 position-relative">
            <a href={% url 'edit_post' post.pk%} class="btn btn-primary btn-lg active position-absolute top-0 end-0" style="margin-right: -20;">Edit post</a>
            <div class="single-blog blog-left">
                <div class="image">
                    <a href="#">
                        <img src="#" alt="blog header image">
                    </a>
                </div>
                <div class="content">
                    <h1>
                        {{ post.title|title }}
                    </h1>
                    <div>
                        <p class="author">Posted by: <a href="#">{{ post.author }}</a> </p>
                        <p>Last updated: {{ post.last_modified }}</p>
                    </div>
                    <div class="pt-50">
                        <p>&nbsp;&nbsp;&nbsp;&nbsp; {{ post.body }} </p>
                    </div>
                </div>

                <br>
                <br>
                <form action="" method="POST">
                    {% csrf_token %}
                    <textarea name="comment101">
                    </textarea></br>
                    <input type="submit" name="comment" value="Add comment" />
                </form>

                {% for message in messages %}
                <p id="messages">{{message}}</p>
                {% endfor %}
                <div>
                    {%for comment in comments%}
                    <hr>
                    <p>{{comment.body}}</p>
                    <pre>– {{comment.author}} {{comment.last_modified}}</pre> {% endfor %}
                </div>
            </div>









        </div>
    </div>
</div>
<!-- end -->
{% endblock %}