{% extends 'base.html' %}
<!-- ========================= details ========================= -->
{% block content %}
<div class="container ">
    <div class="row justify-content-center pt-150 pb-120">
        <div class="col-xxl-8 col-xl-9 col-lg-10 position-relative">
            <a href={% url 'edit_post' post.pk%} class="btn btn-primary btn-lg active position-absolute top-0 end-0" style="margin-right: -20;">Edit post</a>
            <div class="single-blog blog-left">
                <div class="image">
                    <a href="#">
                        <img src="#" alt="blog header image">
                    </a>
                </div>
                <div class="content">
                    <h1>
                        {{ post.title|title }}
                    </h1>
                    <div>
                        <p class="author">Posted by: <a href="#">{{ post.author }}</a> </p>
                        <p>Last updated: {{ post.last_modified }}</p>
                    </div>
                    <div class="pt-50">
                        <p>&nbsp;&nbsp;&nbsp;&nbsp; {{ post.body }} </p>
                    </div>
                </div>
            </div>









        </div>
    </div>
</div>
<!-- end -->
{% endblock %}